<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.xing.infinitechat.offlinedatastore.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="dev.xing.infinitechat.offlinedatastore.model.entity.Message">
            <result property="messageId" column="message_uuid" jdbcType="VARCHAR"/>
            <result property="replyId" column="reply_uuid" jdbcType="VARCHAR"/>
            <result property="senderId" column="sender_id" jdbcType="BIGINT"/>
            <result property="sessionId" column="session_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="sessionType" column="session_type" jdbcType="TINYINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        message_id, reply_id, sender_id,
        session_id,type,session_type,content,
        created_at,updated_at
    </sql>
</mapper>
